<div ...attributes class="jumbotron">
  <h1 class="text-center font-weight-bolder letter-spacing-xs">{{this.subtitle}}</h1>
  <p class="text-center headings-color font-weight-bold">{{this.description}}</p>
</div>