{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "block-closing-brace-newline-after": ["always", { ignoreAtRules: ["if", "else"] }],
    "at-rule-empty-line-before": null
  }
}
