<footer ...attributes class="text-sm text-muted mt-5 mb-2 d-md-flex align-items-center justify-content-between px-4">
  <p class="m-0 text-center footer-color">&copy;{{this.year}} GalaxyX.io</p>
  <nav class="nav d-flex justify-content-between">
    <a class="nav-link footer-color px-0 px-md-3" href="https://www.bitski.com/terms/">Terms</a>
    <a class="nav-link footer-color px-0 px-md-3" href="https://www.bitski.com/privacy/">Privacy</a>
    <a class="nav-link footer-color px-0 px-md-3" href="https://docs.bitski.com/">Docs</a>
    <a class="nav-link footer-color px-0 px-md-3" href="https://twitter.com/bitski">Twitter</a>
    <a class="nav-link footer-color px-0 pl-md-3" href="https://discordapp.com/invite/gqHExpd">Discord</a>
  </nav>
</footer>