.min-h-100 {
  min-height: 100%;
}

.bg-gradient-light {
  background: linear-gradient(203.76deg, #cf0bc3 7.07%, #cf0bc3 7.07%, #cf0bc3 7.07%, #ff3568 95.51%), #4100ea;
}

.bg-gradient-dark {
  background: linear-gradient(180deg, #2b54e2 0%, #1318db 99.99%, #0600d2 100%);
}

@include media-breakpoint-up(md) {
  .bg-md-transparent {
    background-color: transparent !important;
  }

  .border-md-0 {
    border: none !important;
  }

  .w-md-50 {
    width: 50% !important;
  }
}

@include media-breakpoint-up(lg) {
  .w-lg-25 {
    width: 25% !important;
  }
}
