.grid {
  column-gap: $grid-gutter-width;
  grid-gap: $grid-gutter-width;
  display: grid;
}

.grid-gutter-sm {
  column-gap: $grid-gutter-width-sm;
  grid-gap: $grid-gutter-width-sm;
}

.grid-row::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-row > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-gap-0 {
  grid-gap: 0;
}

.grid-cols-3-fill {
  grid-column: span 3;
}

@include media-breakpoint-up(md) {
  .grid-cols-3-md-single {
    grid-column: span 1;
  }

  .grid-cols-md-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-cols-md-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-up(lg) {
  .grid-cols-lg-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-cols-lg-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
