// Active and hover nave color config
.navbar-light .navbar-nav .nav-link {
  color: $nav-link-color;
  font-size: $nav-link-font-size;

  &:hover {
    color: $nav-link-hover-color;
  }

  &.active {
    color: $nav-link-color-active;

    &:hover {
      color: $nav-link-hover-color-active;
    }
  }
}
