h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: $headings-letter-spacing;
}

.letter-spacing-xs {
  letter-spacing: $letter-spacing-xs;
}

.letter-spacing-sm {
  letter-spacing: $letter-spacing-sm;
}

.letter-spacing-md {
  letter-spacing: $letter-spacing-md;
}

.letter-spacing-lg {
  letter-spacing: $letter-spacing-lg;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-md {
  font-size: $font-size-base;
}

.text-xlg {
  font-size: 1.75rem;
}

.logo-color {
  fill: map-get($store-theme, 'logo-color');
}

.headings-color {
  color: map-get($store-theme, 'headings-color');
}

.footer-color {
  color: map-get($store-theme, 'footer-color');
}

@include media-breakpoint-up(md) {
  .text-md-lg {
    font-size: $font-size-lg;
  }
}
