<div class="container d-flex flex-column min-h-100 px-0">
  <MainNavbar @onShowLogin={{this.onShowLogin}} />
  <div class="d-flex flex-column flex-fill px-4">
    {{outlet}}
  </div>
  <MainFooter class="mt-4" />
</div>
<ModalDialog @title="Login" @isVisible={{this.showLogin}} @onClose={{this.onHideLogin}} class="modal-lg">
  <LoginForm />
</ModalDialog>