<div class="container d-flex flex-column min-h-100 px-0">
  <MainNavbar @isLoading="true" />
  <div class="d-flex flex-column flex-fill px-4">
    <div class="spinner-border m-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <MainFooter class="mt-4" />
</div>
